@font-face {
    font-family: 'NetflixSans';
    src: url('/src/assetse/NetflixSans-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/src/assetse/NetflixSans-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/src/assetse/NetflixSans-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/src/assetse/NetflixSans-Bold.otf') format('opentype');
    font-weight: 700;
}

.transNav {
    padding: 30px 0 0 40px;
    position: absolute;
    z-index: 1;
}

.transNav img {
    width: 100px;
    object-fit: contain;
    cursor: pointer;

}

.main {
    width: 100%;
    height: 75vh;
    position: relative;
}

.main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bannerShade {
    position: absolute;
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 50%),
        linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent 30%);
    color: white;
    height: 100%;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: end;
}

.bannerDetail {
    padding-left: 30px;
    margin-bottom: 50px;
}

.title {
    font-family: 'NetflixSans';
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.meta {
    font-family: 'NetflixSans';
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #aaa;
}

.meta span {
    background-color: #11111178;
    padding: 5px;
    border-radius: 5px;
}

.topDesc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limits to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    margin-bottom: 30px;
}

.playButton {
    background-color: rgba(66, 66, 66, 0.506);
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.playButton:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

/* NEW: Content BELOW the image */
.bottomDetails {
    box-sizing: border-box;
    background-color: #111;
    width: 100%;
    padding: 30px 20px;
    color: #ccc;
}

.details {
    font-size: 0.95rem;
    color: #aaa;
    line-height: 1.6;
    font-family: 'NetflixSans';
}

.castBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    height: auto;
}

.castName {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    width: 100%;
}

.sugMovie {
    margin-top: 40px;
    color: #aaa;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #ddd;
}

.epVerify {
    margin-top: 10px;
    font-weight: 700;
}

/* Series Episode */

.season_select {
    margin-top: 30px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: rgb(53, 53, 53);
    color: white;
    transition: all 0.3s ease;
    /* appearance: none; */
    cursor: pointer;
}

.season_select:focus {
    outline: none;
    /* border-color: #007bff; */
    background-color: rgb(53, 53, 53);
    color: white;
}

.season_select option {
    font-size: 14px;
    padding: 5px;
}

.epList {
    margin-top: 30px;
}

.epRow {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.epImg {
    width: 20%;
}

.epImg img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.epDetail {
    width: 65%;
}

.epDetail h3 {
    font-size: 24px;
    margin-bottom: 7px;
}

.epDetail h4 {
    font-size: 24px;
    margin-bottom: 7px;
}

.epTime {
    color: grey;
    font-size: 13px;
}

.epDescrip {
    color: grey;
    width: 85%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limits to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.epBtn {
    width: 15%;
    align-self: center;
}

.epBtn button {
    padding: 10px 15px;
    font-size: 17.5px;
    font-weight: 900;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 1200px) {
    .bannerDetail {
        margin-bottom: 70px;
    }

    .title {
        font-size: 3rem;
    }

    .meta span {
        padding: 3px 4px;
    }
}

@media (max-width: 1030px) {
    .main {
        width: 100%;
        height: auto;
    }

    .main img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

    .bannerDetail {
        margin-bottom: 40px;
    }

    .title {
        font-size: 2.6rem;
    }

    .meta span {
        padding: 3px 4px;
        font-size: .9rem;
    }
}

@media (max-width: 600px) {
    .bannerDetail {
        margin-bottom: 20px;
    }

    .title {
        font-size: 2.1rem;
    }

    .meta span {
        padding: 3px 4px;
        font-size: .75rem;
    }

    .playButton {
        padding: 8px 40px;
    }
}

@media (max-width: 430px) {
    .bannerDetail {
        margin-bottom: 10px;
        padding-left: 15px;
    }

    .title {
        font-size: 1.3rem;
    }

    .meta {
        gap: 5px;
        margin-bottom: 10px
    }

    .meta span {
        padding: 2px 3px;
        font-size: 10px;
    }

    .playButton {
        padding: 8px 40px;
    }

    .bottomDetails {
        padding-right: 0;
    }
}